__pycache__/
.env
.venv
*.log
*.db
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.tmp
.acis_consumer_groups_initialized
acis.db-wal
acis.db-shm
.github

test_venv/
